
<script>
  var map ;
  var marker;

  $(document).ready(function(){
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @article.lat %>, lng: <%= @article.lng %>},
      zoom: 8
    });
    marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng(<%= @article.lat %>,<%= @article.lng %>),
      title: 'Hello World!'
    });
    //alert($("#article_content").html());
    //$("#article_content").html(marked($("#article_content").html()));
  });
</script>
<div class="container" id="article_container">
<p id="notice"><%= notice %></p>
<div id="blog">
<div>
  <h1>
    <%= @article.title %>
    <p id="blog-post-meta">
      Created by
      <%= link_to @article.user.user_name, user_url(@article.user_id) %>
      at <%= @article.created_at %>
    </p>
  </h1>
  <hr style="border-top: 1px solid #aaaaaa"/>
</div>
<div id="blog-main">
  <div id="map" style="width:100%;height:380px;"></div>
  <br>
  <div id="article_content">
    <%= markdown @article.content %>
  </div>
</div>

  <hr style="border-top: 1px solid #aaaaaa"/>
<div >
  <h2>Comments</h2>
<% @comments.each do |c|  %>
    <div>
        <% if c.user_id != nil %>
          <p id="blog-comment"><%= c.content%></p>
          <p id="blog-post-meta">
            Created by
            <%= link_to c.user.user_name, user_url(c.user_id) %>
            at <%= c.created_at %>
          </p>
          <hr style="border-top: 1px solid #aaaaaa"/>
        <% end %>

    </div>
<% end %>

<% if session[:user_id] %>
  <%= form_for(@comment) do |f| %>
      <div class="field">
        <%= f.label :content%><br>
        <%= f.text_area :content, rows:5, class:"form-control"%>
      </div>
      <%= f.hidden_field :article, value:@article.id %>
      <div class="actions">
        <%= f.submit :Submit, class:"btn btn-info" %>
      </div>
  <% end %>
<% end %>
<% if @article.user_id == session[:user_id] %>
<%= link_to 'Edit', edit_article_path(@article) %>|
<% end %>
<%= link_to 'Back', home_url %>
</div>
</div>

<div id="user">
  <h3><%= link_to @article.user.user_name, user_url(@article.user_id) %></h3>
  Country: <%= @article.user.country %><br>
  City: <%= @article.user.city %>
  <div>
    Articles:<br>
    <% @article.user.articles.each do |a| %>
      <%= link_to a.title, article_url(a.id) %><br>
    <% end %>
  </div>
</div>
</div>