<div class="container" id="main-body">
  <div class="row">
    <div id="banner">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="first-slide" src="<%= home_url %>assets/kinkakuji-s.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Kinkaku-ji</h1>

              </div>
            </div>
          </div>
          <div class="item">
            <img class="second-slide" src="<%= home_url %>assets/kiyomizu-s.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Kiyomizu Temple</h1>

              </div>
            </div>
          </div>
          <div class="item">
            <img class="third-slide" src="<%= home_url %>assets/fushimi-s.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Fushimi Shrine</h1>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 well" id="register-form">
      <h1>Edit</h1>
      <div class="row">
        <%= render 'form' %>
      </div>

    </div>
    <%= link_to 'Back', @user, class:"back_link" %>
  </div>
</div>




